<section class="tab {{tabGroups.sheet.biography.id}} {{tabGroups.sheet.biography.cssClass}}"
    data-tab="{{tabGroups.sheet.biography.id}}" data-group="{{tabGroups.sheet.biography.group}}">
    <div class="framed-section">
        <h2>Npc biography</h2>
    </div>
</section>