<section class="tab {{tabs.actions.id}} {{tabs.actions.cssClass}}" data-tab="{{tabs.actions.id}}"
    data-group="{{tabs.actions.group}}">
    <div class="framed-section">
        <h2>Actions</h2>
    </div>
</section>
