<section class="tab {{tabGroups.sheet.actions.id}} {{tabGroups.sheet.actions.cssClass}}"
    data-tab="{{tabGroups.sheet.actions.id}}" data-group="{{tabGroups.sheet.actions.group}}">
    <div class="framed-section">
        <h2>Actions</h2>
    </div>
</section>
