<section class="sheet-body flexcol">
    <template data-application-part="header"></template>
    {{#each tabGroups.sheet as |tab|}}
        <template data-application-part="{{tab.id}}"></template>
    {{/each}}
</section>