<section class="tab {{tabs.attributes.id}} {{tabs.attributes.cssClass}}" data-tab="{{tabs.attributes.id}}"
    data-group="{{tabs.attributes.group}}">
    {{! Attributes }}
    <div class="framed-section">
        <h2>Caractéristiques</h2>
    </div>
</section>