<section class="tab {{tabGroups.sheet.effects.id}} {{tabGroups.sheet.effects.cssClass}}"
    data-tab="{{tabGroups.sheet.effects.id}}" data-group="{{tabGroups.sheet.effects.group}}">
    <div class="framed-section">
        <h2>Effects</h2>
    </div>
</section>