<section
    class="tab {{tabs.effects.id}} {{tabs.effects.cssClass}}"
    data-tab="{{tabs.effects.id}}"
    data-group="{{tabs.effects.group}}"
>
    <div class="framed-section">
        <h2>Effects</h2>
    </div>
</section>