<section class="tab {{tabGroups.sheet.inventory.id}} {{tabGroups.sheet.inventory.cssClass}}"
    data-tab="{{tabGroups.sheet.inventory.id}}" data-group="{{tabGroups.sheet.inventory.group}}">
    <div class="framed-section">
        <h2>Inventaire</h2>
    </div>
</section>