<section class="tab {{tabs.inventory.id}} {{tabs.inventory.cssClass}}" data-tab="{{tabs.inventory.id}}"
    data-group="{{tabs.inventory.group}}">
    <div class="framed-section">
        <h2>Inventaire</h2>
    </div>
</section>
