<section
    class="tab {{tabs.biography.id}} {{tabs.biography.cssClass}}"
    data-tab="{{tabs.biography.id}}"
    data-group="{{tabs.biography.group}}"
>
    <div class="framed-section">
        <h2>Npc biography</h2>
    </div>
</section>