<section
    class="tab {{tabs.paths.id}} {{tabs.paths.cssClass}}"
    data-tab="{{tabs.paths.id}}"
    data-group="{{tabs.paths.group}}"
>
    <div class="framed-section">
        <h2>Paths</h2>
    </div>
</section>