<section class="tab sheet-body flexcol {{tabGroups.sheet.description.cssClass}}"
    data-tab="{{tabGroups.sheet.description.id}}" data-group="{{tabGroups.sheet.description.group}}">
    {{! Public description }}
    {{formInput
        description.public.field
        value=description.public.value
        enriched=description.public.enriched
        toggled=true
        height=200
    }}
</section>