<section class="tab sheet-body flexcol {{tabGroups.sheet.config.cssClass}}" data-tab="{{tabGroups.sheet.config.id}}"
    data-group="{{tabGroups.sheet.config.group}}">
    {{! Feature configuration }}
    <fieldset>
        Talent
    </fieldset>
</section>
