<section class="sheet-body flexcol">
    {{! Header }}
    <header class="sheet-header flexcol">
        {{localize "SHEET.CONFIG.HIT_DIE.LABELS.Description"}}
    </header>

    {{! Content }}
    <template data-application-part="config"></template>
</section>
