<section class="sheet-body flexcol">
    {{! Header }}
    {{#if header}}
        <header class="sheet-header flexcol">
            {{localize header.description}}
        </header>
    {{/if}}

    {{! Content }}
    <template data-application-part="config"></template>
</section>
