<section class="sheet-body flexcol">
    {{! Header }}
    <header class="sheet-header flexcol">
        <span class="description">
            {{localize "COG.CONFIG.HIT_POINTS.LABELS.Description"}}
        </span>
        <span class="data value mini">{{hitPoints.max.value}}</span>
    </header>

    {{! Content }}
    <div class="sheet-content flexcol flex1">
        {{formGroup
            hitPoints.base.field
            value=hitPoints.base.value
            localize=true
            disabled=true
        }}
        {{formGroup
            hitPoints.bonus.field
            value=hitPoints.bonus.value
            localize=true
        }}
    </div>
</section>