<section class="sheet-body flexcol">
    {{! Header }}
    <header class="sheet-header flexcol">
        <span
            class="description">{{localize "COG.CONFIG.INITIATIVE.LABELS.Description" ability=initiative.field.label}}</span>
        <span class="data value mini">{{initiative.max.value}}</span>
    </header>

    {{! Content }}
    <div class="sheet-content flexcol flex1">
        {{formGroup
            initiative.base.field
            value=initiative.base.value
            disabled=true
        }}
        {{formGroup
            initiative.bonus.field
            value=initiative.bonus.value
        }}
    </div>
</section>
