{{! Actor editable name }}
<h1 class="actor-name">
    {{#if editMode}}
        {{formInput
            name.field
            value=name.value
        }}
    {{else}}
        {{name.value}}
    {{/if}}
</h1>