{{! Actor Temp Damages }}
<div class="tmp-dmgs flexrow flex0">
    <span class="relative-input" data-tooltip="{{health.tempDmgs.field.label}}" data-tooltip-class="cog">
        {{formInput
            health.tempDmgs.field
            value=health.tempDmgs.value
            placeholder=(localize health.tempDmgs.field.options.abbreviation)
        }}
    </span>
</div>