/* ----------------------------------------- */
/*  Font Faces
/* ----------------------------------------- */
@font-face {
  font-family: "SpaceBoards";
  src: url("../fonts/SpaceBoards.ttf");
}
@font-face {
  font-family: "Hyperion";
  src: url("../fonts/Hyperion Bold.otf");
}
/* ----------------------------------------- */
/*  CSS Variables
/* ----------------------------------------- */
.cog {
  /* ----------------------------------------- */
  /*  Colors
  /* ----------------------------------------- */
  --color-text: #eee8df;
  --color-text-75: rgba(238, 232, 223, 0.75);
  --color-text-50: rgba(238, 232, 223, 0.5);
  --color-text-25: rgba(238, 232, 223, 0.25);
  --color-primary: #e5dd58;
  --color-primary-75: rgba(229, 221, 88, 0.75);
  --color-primary-50: rgba(229, 221, 88, 0.5);
  --color-primary-25: rgba(229, 221, 88, 0.25);
  --color-secondary: #646a8b;
  --color-secondary-75: rgba(100, 106, 139, 0.75);
  --color-secondary-50: rgba(100, 106, 139, 0.5);
  --color-secondary-25: rgba(100, 106, 139, 0.25);
  --color-tertiary: #aeaeae;
  --color-tertiary-75: rgba(174, 174, 174, 0.75);
  --color-tertiary-50: rgba(174, 174, 174, 0.5);
  --color-tertiary-25: rgba(174, 174, 174, 0.25);
  --color-frame-bg: #302831;
  --color-frame-bg-75: rgba(48, 40, 49, 0.75);
  --color-frame-bg-50: rgba(48, 40, 49, 0.5);
  --color-frame-bg-25: rgba(48, 40, 49, 0.25);
  --color-drop-shadow: rgba(0, 0, 0, 0.75);
  --tab-background: #090a0c;
  --color-hitPoints-bar-start: #642626;
  --color-hitPoints-bar-end: #c72929;
  --color-hitPoints-bar-border: #882828;
  --color-tempDmgs-bar-start: #3c3f53;
  --color-tempDmgs-bar-end: #646a8b;
  --color-tempDmgs-bar-border: #50556f;
  --color-reduction-positive: #928f5f;
  /* ----------------------------------------- */
  /*  Fonts
  /* ----------------------------------------- */
  --font-h1: "SpaceBoards", serif;
  --font-h2: "SpaceBoards", serif;
  --font-h3: "Hyperion", serif;
  --font-body: "Signika", serif;
  --font-size-9: 0.5625rem;
  --font-size-22: 1.375rem;
  /* ----------------------------------------- */
  /*  Spacing
  /* ----------------------------------------- */
  --spacing-100: 1rem;
  --spacing-25: calc(var(--spacing-100) * 0.25);
  --spacing-50: calc(var(--spacing-100) * 0.5);
  --spacing-75: calc(var(--spacing-100) * 0.75);
  --spacing-125: calc(var(--spacing-100) * 1.25);
  --spacing-150: calc(var(--spacing-100) * 1.5);
  --spacing-175: calc(var(--spacing-100) * 1.75);
  --spacing-200: calc(var(--spacing-100) * 2);
  --spacing-225: calc(var(--spacing-100) * 2.25);
  --spacing-250: calc(var(--spacing-100) * 2.5);
  --spacing-275: calc(var(--spacing-100) * 2.75);
  --spacing-300: calc(var(--spacing-100) * 3);
  --spacing-325: calc(var(--spacing-100) * 3.25);
  --spacing-350: calc(var(--spacing-100) * 3.5);
  /* ----------------------------------------- */
  /*  Border Radius
  /* ----------------------------------------- */
  --border-radius: 4px;
  --border-radius-half: calc(var(--border-radius) / 2);
}
.cog {
  /* ----------------------------------------- */
  /*  Tooltips
  /* ----------------------------------------- */
}
.cog.application {
  /* ----------------------------------------- */
  /*  Typography
    /* ----------------------------------------- */
  color: var(--color-text);
  font-size: var(--font-size-12);
  font-family: var(--font-body);
  text-shadow: 0 0 5px var(--color-drop-shadow);
  /* ----------------------------------------- */
  /*  Links
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Images
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /* Frames
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Forms
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Scrolls
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Prosemirror
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Buttons
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Pips
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Data values
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Data Charts
    /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Tags
    /* ----------------------------------------- */
}
.cog.application h1,
.cog.application h2,
.cog.application h3 {
  border: 0;
  margin: 0;
  white-space: nowrap;
  text-shadow: 0 0 5px var(--color-drop-shadow);
  line-height: normal;
}
.cog.application h1 {
  font-family: var(--font-h1);
  color: var(--color-primary);
  font-size: var(--font-size-20);
}
.cog.application h2 {
  font-family: var(--font-h2);
  color: var(--color-primary);
  font-size: var(--font-size-12);
}
.cog.application h2.divider {
  --divider-height: 2px;
  align-self: flex-start;
}
.cog.application h2.divider::before,
.cog.application h2.divider::after {
  width: var(--spacing-250);
  height: var(--divider-height);
  background-color: var(--color-frame-bg);
  mask-image: none;
  border: 0;
  margin-right: var(--spacing-50);
}
.cog.application h2.divider::before {
  clip-path: path("M3 0L0 2H40V0H3Z");
}
.cog.application h2.divider::after {
  clip-path: path("M0 0V2H40L37 0H0Z");
}
.cog.application h3 {
  font-family: var(--font-h3);
  font-size: var(--font-size-14);
  color: var(--color-text);
}
.cog.application a,
.cog.application a:hover {
  text-shadow: 0 0 5px var(--color-drop-shadow);
}
.cog.application .tabs > [data-tab].active {
  text-shadow: 0 0 5px var(--color-drop-shadow);
}
.cog.application img {
  border: 0;
}
.cog.application img.profile {
  object-fit: contain;
  padding: 0;
  margin: 0;
  transition: border-color 0.5s;
}
.cog.application img.profile[data-edit]:hover {
  border-color: var(--color-secondary-50);
}
.cog.application .framed-section {
  position: relative;
  background-color: var(--color-frame-bg-50);
  border: 1px solid var(--color-secondary-25);
  border-radius: var(--border-radius);
  backdrop-filter: blur(1px);
  padding: var(--spacing-50);
  align-items: flex-start;
}
.cog.application .framed-section:has(> h2) {
  padding: var(--spacing-175) var(--spacing-100) var(--spacing-50) var(--spacing-100);
}
.cog.application .framed-section:has(> h2) h2 {
  position: absolute;
  margin: 0;
  height: var(--spacing-150);
  padding: calc(var(--spacing-50) - 2px) var(--spacing-50);
  background: var(--color-frame-bg);
  border: 1px solid var(--color-secondary-25);
  box-shadow: 0 0 4px var(--color-secondary-25);
  border-radius: var(--border-radius);
  top: calc(-1 * (var(--spacing-50)));
  left: 50%;
  transform: translateX(-50%);
}
.cog.application .framed-section h3 {
  font-size: var(--font-size-12);
}
.cog.application input,
.cog.application select {
  --input-background-color: var(--color-frame-bg-50);
  --input-border-color: var(--color-secondary-25);
  --input-text-color: var(--color-text);
  --color-select-option-bg: var(--color-frame);
  --input-focus-outline-color: var(--color-secondary);
  --input-height: var(--spacing-175);
  --input-placeholder-color: var(--color-secondary-50);
  flex-basis: content;
  font-family: var(--font-h3);
  border-radius: var(--border-radius-half);
  transition: outline-color 0.5s, border-color 0.5s, box-shadow 0.5s;
  text-shadow: 0 0 5px var(--color-drop-shadow);
}
.cog.application input:hover,
.cog.application select:hover {
  --input-border-color: var(--color-secondary-50);
}
.cog.application input:focus,
.cog.application select:focus {
  --input-text-color: var(--color-text);
  box-shadow: 0 0 5px var(--color-secondary);
}
.cog.application input:disabled,
.cog.application select:disabled {
  --input-text-color: var(--color-tertiary-50);
  --input-background-color: var(--color-frame-bg-25);
}
.cog.application select {
  cursor: pointer;
}
.cog.application select option {
  --color-select-option-bg: var(--color-frame-bg);
  font-size: var(--font-size-12);
  color: var(--color-text-75);
}
.cog.application .framed-section input,
.cog.application .framed-section select {
  --input-background-color: var(--color-frame-bg);
}
.cog.application .framed-section input:disabled,
.cog.application .framed-section select:disabled {
  --input-background-color: var(--color-frame-bg-75);
}
.cog.application fieldset {
  --color-fieldset-border: var(--color-secondary);
  --font-size-fieldset: var(--font-size-14);
  position: relative;
  border-radius: var(--border-radius);
}
.cog.application fieldset legend {
  color: var(--color-primary);
  font-family: var(--font-h3);
  font-size: var(--font-size-fieldset);
  line-height: var(--font-size-fieldset);
  transition: color 0.5s;
}
.cog.application fieldset .data.value {
  position: absolute;
  top: calc(-1 * ((var(--value-size) / 2) + var(--font-size-fieldset) / 2));
  right: 0;
  z-index: 1;
}
.cog.application .form-group {
  gap: var(--spacing-50);
}
.cog.application .form-group > label {
  --color-form-label: var(--color-text);
  --color-form-label-hover: var(--color-primary);
  display: flex;
  gap: var(--spacing-50);
  align-items: baseline;
  font-weight: normal;
  font-size: var(--font-size-14);
  line-height: normal;
  transition: color 0.5s;
}
.cog.application .form-group > label i {
  font-size: var(--font-size-12);
}
.cog.application .form-group > .form-fields {
  gap: var(--spacing-50);
}
.cog.application .form-group > .hint {
  --color-form-hint: var(--color-text-50);
  --color-form-hint-hover: var(--color-text-75);
  font-size: var(--font-size-12);
  line-height: normal;
  transition: color 0.5s;
}
.cog.application .form-group:has(input:disabled, select:disabled) {
  cursor: not-allowed;
}
.cog.application .form-group:has(input:disabled, select:disabled) label {
  --color-form-label: var(--color-tertiary-75);
  --color-form-label-hover: var(--color-tertiary-75);
  cursor: not-allowed;
}
.cog.application .form-group:has(input:disabled, select:disabled) .hint {
  --color-form-hint: var(--color-tertiary-50);
  --color-form-hint-hover: var(--color-tertiary-50);
}
.cog.application .scrollable,
.cog.application .prosemirror .editor-content,
.cog.application .prosemirror textarea {
  --color-scrollbar: var(--color-secondary-50);
  --color-scrollbar-border: var(--color-secondary-75);
  --scroll-margin: var(--spacing-75);
  --scroll-gutter: var(--spacing-50);
  margin-right: calc(-1 * var(--scroll-gutter)) !important;
  padding-right: var(--scroll-gutter) !important;
}
.cog.application .prosemirror {
  overflow: visible;
}
.cog.application .prosemirror menu {
  padding: 0;
}
.cog.application .prosemirror .editor-content {
  padding: 0;
}
.cog.application .prosemirror.inactive button.toggle {
  --button-background-color: var(--color-frame-bg-50);
  --button-text-color: var(--color-secondary);
  --button-border-color: var(--color-secondary-25);
  --button-hover-text-color: var(--color-primary);
  --button-hover-border-color: var(--color-primary);
  --button-hover-background-color: var(--color-frame-bg-50);
  --form-field-height: auto;
  margin: 0;
  padding: var(--spacing-25) var(--spacing-50);
  box-shadow: 0 0 5px var(--color-drop-shadow);
  right: var(--spacing-25);
  top: calc(-1 * var(--spacing-25));
  border-radius: var(--border-radius-half);
  text-shadow: 0 0 5px var(--color-drop-shadow);
  backdrop-filter: blur(1px);
  transition: color 0.5s, border-color 0.5s;
}
.cog.application .prosemirror.inactive .editor-content > p:first-child {
  margin-top: 0;
}
.cog.application .prosemirror.inactive .editor-content > p:last-child {
  margin-bottom: 0;
}
.cog.application .prosemirror.active button {
  --color-form-label: var(--color-tertiary-50);
  --color-form-label-hover: var(--color-tertiary);
  --color-hover-bg: var(--color-frame-bg);
  --button-focus-outline-color: var(--color-primary-25);
  --color-control-bg: var(--color-frame-bg-50);
  border: 1px solid transparent;
}
.cog.application .prosemirror.active button:hover {
  border-color: var(--color-secondary);
}
.cog.application .prosemirror.active button.active {
  --color-form-label: var(--color-tertiary);
}
.cog.application .prosemirror.active button.pm-dropdown {
  border-color: var(--color-secondary-25);
}
.cog.application .prosemirror.active button.pm-dropdown:hover {
  border-color: var(--color-secondary);
}
.cog.application .prosemirror.active button.pm-dropdown:focus {
  box-shadow: none;
}
.cog.application .prosemirror.active button.pm-dropdown,
.cog.application .prosemirror.active button.pm-dropdown i {
  color: var(--color-tertiary-75);
}
.cog.application .prosemirror.active textarea {
  padding: 0;
  font-size: var(--font-size-12);
  width: auto;
}
.cog.application .standard-button {
  display: inline-flex;
  flex: 0;
  align-items: center;
  gap: var(--spacing-50);
  height: var(--spacing-175);
  padding: var(--spacing-50);
  font-family: var(--font-h3);
  font-size: var(--font-size-14);
  background-color: var(--color-frame-bg-50);
  border: 1px solid var(--color-secondary-25);
  border-radius: var(--border-radius-half);
  backdrop-filter: blur(1px);
  transition: border-color 0.5s;
}
.cog.application .standard-button.raised {
  box-shadow: 0 0 5px var(--color-drop-shadow);
}
.cog.application .standard-button:hover {
  border-color: var(--color-primary);
}
.cog.application .standard-button i {
  color: var(--color-secondary);
  transition: color 0.5s;
}
.cog.application .standard-button:hover i {
  color: var(--color-primary);
}
.cog.application .standard-button.highlighted i {
  color: var(--color-primary);
}
.cog.application .icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-tertiary-75);
  cursor: pointer;
  transition: color 0.5s;
  font-size: var(--font-size-14);
  line-height: normal;
}
.cog.application .icon-button:hover {
  color: var(--color-primary);
}
.cog.application h1 .icon-button,
.cog.application h2 .icon-button,
.cog.application h3 .icon-button {
  margin-left: var(--spacing-25);
}
.cog.application h3:has(.icon-button) {
  flex-wrap: nowrap;
}
.cog.application .pips {
  display: flex;
  gap: var(--spacing-100);
  margin: var(--spacing-50);
}
.cog.application .pips .pip {
  --pip-size: 20px;
  --pip-border: 1px;
  --pip-radius: var(--border-radius-half);
  cursor: pointer;
  position: relative;
  border: var(--pip-border) solid var(--color-secondary);
  border-radius: var(--border-radius-half);
  width: var(--pip-size);
  height: var(--pip-size);
  background-color: var(--color-frame-bg);
  box-shadow: 0 0 5px var(--color-drop-shadow);
  transition: filter 0.5s;
}
.cog.application .pips .pip:hover {
  filter: drop-shadow(0 0 3px var(--color-secondary-75));
}
.cog.application .pips .pip.filled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secondary);
  border: calc(var(--pip-border) * 2) solid var(--color-frame-bg);
  border-radius: calc(var(--pip-radius) / 2);
}
.cog.application .data.value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-h3);
  width: var(--value-size);
  height: var(--value-size);
  max-width: var(--value-size);
  max-height: var(--value-size);
  font-size: var(--value-font-size);
  text-align: center;
  transition: color 0.5s;
}
.cog.application .data.value::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  transition: filter 0.5s;
}
.cog.application .data.value input {
  font-size: var(--value-font-size);
  margin: 0 calc(var(--value-size) * 0.2);
  padding: 0;
}
.cog.application .data.value input:focus {
  box-shadow: none;
}
.cog.application .data.value.clickable {
  cursor: pointer;
}
.cog.application .data.value.clickable:hover {
  color: var(--color-primary);
}
.cog.application .data.value.clickable:hover::before {
  filter: contrast(120%);
}
.cog.application .data.value.editable:hover::before {
  filter: contrast(105%);
}
.cog.application .data.value.editable input {
  --input-background-color: transparent;
  --input-border-color: transparent;
  --input-focus-outline-color: transparent;
}
.cog.application .data.value.tiny {
  --value-size: 26px;
  --value-font-size: var(--font-size-12);
  --background-image: url(/systems/cog/ui/value/tiny.webp);
}
.cog.application .data.value.tiny.alt {
  --background-image: url(/systems/cog/ui/value/tiny-alt.webp);
}
.cog.application .data.value.mini {
  --value-size: 50px;
  --value-font-size: var(--font-size-14);
  --background-image: url(/systems/cog/ui/value/mini.webp);
}
.cog.application .data.value.large {
  --value-size: 88px;
  --value-font-size: var(--font-size-22);
  --background-image: url(/systems/cog/ui/value/large.webp);
}
.cog.application .data.value.large.alt {
  --background-image: url(/systems/cog/ui/value/large-alt.webp);
}
.cog.application .data.value.large input {
  --input-height: var(--spacing-200);
}
.cog.application .data.chart.diverging {
  --chart-height: 26px;
  --bar-height: 8px;
  --protection-height: 8px;
  --reduction-height: 6px;
  --bar-max-pct: 46.5%;
  --bar-pct: 0%;
  position: relative;
  width: 100%;
  display: flex;
  height: var(--bar-height);
  margin: calc((var(--chart-height) - var(--bar-height)) / 2) 0;
  justify-content: center;
  align-items: center;
}
.cog.application .data.chart.diverging::before {
  content: "";
  display: block;
  position: absolute;
  height: var(--bar-height);
  width: 100%;
  background: radial-gradient(circle, var(--color-secondary) 40%, transparent 41%) left center, radial-gradient(circle, var(--color-secondary) 40%, transparent 41%) right center, linear-gradient(to right, var(--color-secondary) 0, var(--color-secondary) 100%);
  background-size: var(--bar-height) var(--bar-height), var(--bar-height) var(--bar-height), calc(100% - var(--bar-height)) 1px;
  background-position: 0 center, 100% center, calc(var(--bar-height) / 2) center;
  background-repeat: no-repeat;
}
.cog.application .data.chart.diverging .value {
  z-index: 2;
}
.cog.application .data.chart.diverging .primary {
  position: absolute;
  height: var(--protection-height);
  max-width: var(--bar-max-pct);
  border-radius: 2px;
  background: var(--color-frame-bg);
  border: 1px solid;
  z-index: 0;
}
.cog.application .data.chart.diverging .primary.positive {
  width: var(--bar-pct);
  left: calc(50% + var(--bar-height));
  border-color: var(--color-reduction-positive);
  border-left: none;
}
.cog.application .data.chart.diverging .primary.negative {
  width: var(--bar-pct);
  right: calc(50% + var(--bar-height));
  border-color: var(--color-secondary);
  border-right: none;
}
.cog.application .data.chart.diverging .secondary {
  position: absolute;
  height: var(--reduction-height);
  max-width: var(--bar-max-pct);
  z-index: 1;
  background-repeat: no-repeat;
}
.cog.application .data.chart.diverging .secondary.positive {
  background-image: url(/systems/cog/ui/chart/secondary-positive.webp);
  width: var(--bar-pct);
  left: calc(50% + var(--bar-height));
}
.cog.application .data.chart.diverging .secondary.negative {
  background-image: url(/systems/cog/ui/chart/secondary-negative.webp);
  width: var(--bar-pct);
  right: calc(50% + var(--bar-height));
}
.cog.application .tags {
  display: flex;
  gap: var(--spacing-25);
}
.cog.application .tags .tag {
  padding: calc(var(--spacing-25) / 2);
  font-size: var(--font-size-10);
  color: var(--color-secondary);
  background-color: var(--color-frame-bg);
  border: 1px solid var(--color-secondary-25);
  border-radius: var(--border-radius);
}
.cog#tooltip {
  --tooltip-border-with: 2px;
  background-color: var(--color-frame-bg);
  border-color: var(--color-secondary);
  border-width: var(--tooltip-border-with);
  font-family: var(--font-body);
  font-size: var(--font-size-14);
  box-shadow: 0 0 15px var(--color-drop-shadow);
  padding: var(--spacing-50);
  border-radius: var(--border-radius);
  text-align: left;
}
.cog#tooltip h4 {
  color: var(--color-primary);
  text-align: center;
}
.cog#tooltip ul {
  padding-left: var(--spacing-100);
}
.cog#tooltip li {
  font-size: var(--font-size-12);
}
.cog#tooltip:has(ul, ol) {
  padding-right: var(--spacing-75);
}
.cog#tooltip > :first-child {
  margin-top: 0;
}
.cog#tooltip > :last-child {
  margin-bottom: 0;
}
/* ---------------------------------- */
/*  Slide Toggles
/* ---------------------------------- */
slide-toggle {
  --slide-toggle-height: 20px;
  --slide-toggle-width: 36px;
  --slide-toggle-padding: 2px;
  --slide-toggle-track-border-width: 1px;
  --slide-toggle-track-border-color: var(--color-secondary);
  --slide-toggle-track-color-unchecked: var(--color-frame-bg);
  --slide-toggle-track-color-checked: var(--color-primary);
  --slide-toggle-thumb-color: var(--color-text);
  --slide-toggle-thumb-width: calc(var(--slide-toggle-height) - (var(--slide-toggle-track-border-width) * 2) - (var(--slide-toggle-padding) * 2));
  --slide-toggle-thumb-height: var(--slide-toggle-thumb-width);
  --slide-toggle-transition-time: 250ms;
  display: inline-block;
  width: var(--slide-toggle-width);
  height: var(--slide-toggle-height);
  cursor: pointer;
  /* Checked state */
}
slide-toggle .slide-toggle-track {
  width: 100%;
  height: 100%;
  background: var(--slide-toggle-track-color-unchecked);
  border-radius: calc((var(--slide-toggle-height) * 2) / 3);
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: var(--slide-toggle-padding);
  border: var(--slide-toggle-track-border-width) solid var(--slide-toggle-track-border-color);
}
slide-toggle .slide-toggle-thumb {
  width: var(--slide-toggle-thumb-width);
  height: var(--slide-toggle-thumb-height);
  border-radius: 100%;
  background: var(--slide-toggle-thumb-color);
  box-shadow: 0 0 8px var(--color-drop-shadow);
  text-align: center;
  transition: margin-left var(--slide-toggle-transition-time) ease;
  line-height: calc(var(--slide-toggle-thumb-height) - (var(--slide-toggle-padding)));
}
slide-toggle .slide-toggle-thumb::before {
  font-family: var(--font-awesome);
  color: var(--color-secondary);
  font-weight: bold;
  font-size: var(--font-size-9);
}
slide-toggle[checked] .slide-toggle-track {
  background: var(--slide-toggle-track-color-checked);
}
slide-toggle[checked] .slide-toggle-thumb {
  margin-left: calc(100% - var(--slide-toggle-thumb-width));
}
/* ----------------------------------------- */
/*  Application V2 Styles
/* ----------------------------------------- */
.cog.application {
  --color-header-background: transparent;
  --background-texture: url("../ui/application/background.webp");
  --background-overlay: url("../ui/application/overlay.webp");
  background: var(--background-texture) no-repeat, #000000;
  background-size: cover;
  border-color: var(--color-frame-bg);
  gap: 0;
  box-sizing: content-box;
}
.cog.application::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  pointer-events: none;
  background: var(--background-overlay) no-repeat;
  background-position: top center;
  background-size: 100% auto;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.cog.application .window-header {
  border-bottom: none;
}
.cog.application .window-header .window-title {
  font-family: var(--font-h1);
  font-size: var(--font-size-12);
  color: var(--color-primary);
}
.cog.application .window-header .header-control {
  color: var(--color-tertiary-50);
}
.cog.application .window-header .header-control:hover {
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  box-shadow: none;
}
.cog.application .window-header .header-control:focus {
  --button-focus-outline-color: var(--color-primary-25);
}
.cog.application .controls-dropdown {
  background: transparent;
  background-color: var(--color-frame-bg);
}
.cog.application .controls-dropdown button {
  color: var(--color-text);
  font-family: var(--font-body);
}
.cog.application .controls-dropdown button:hover {
  background-color: var(--color-secondary);
  box-shadow: none;
}
.cog.application .controls-dropdown button:focus {
  --button-focus-outline-color: var(--color-primary-25);
}
.cog.application .window-content {
  padding: 0;
}
/* ----------------------------------------- */
/*  Actor Sheet
/* ----------------------------------------- */
.cog.sheet.actor {
  --sidebar-width: 200px;
  --profile-size: 200px;
  overflow: visible;
  /* ----------------------------------------- */
  /*  Sheet Mode
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Tabs
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Sidebar
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes Tab
  /* ----------------------------------------- */
}
.cog.sheet.actor .window-content {
  padding: var(--spacing-25) var(--spacing-100) var(--spacing-100);
  flex-direction: row;
  gap: var(--spacing-100);
}
.cog.sheet.actor.minimized,
.cog.sheet.actor.minimizing,
.cog.sheet.actor.maximizing {
  overflow: hidden;
}
.cog.sheet.actor.minimized .window-content,
.cog.sheet.actor.minimizing .window-content,
.cog.sheet.actor.maximizing .window-content {
  overflow: hidden;
}
.cog.sheet.actor .tab {
  flex: 1;
  position: relative;
  padding-top: var(--spacing-50);
}
.cog.sheet.actor .mode-slider .slide-toggle-thumb::before {
  content: "\f0ad";
}
.cog.sheet.actor .window-title {
  visibility: hidden;
}
.cog.sheet.actor.minimized .window-title,
.cog.sheet.actor.minimizing .window-title {
  visibility: visible;
}
.cog.sheet.actor.minimized .mode-slider,
.cog.sheet.actor.minimizing .mode-slider {
  display: none;
}
.cog.sheet.actor .sheet-tabs {
  --tab-size: 38px;
  --icon-size: 20px;
  flex-direction: column;
  position: absolute;
  width: var(--tab-size);
  right: calc(-1 * (var(--tab-size) + 1px));
  top: 200px;
  gap: var(--spacing-50);
  border: none;
}
.cog.sheet.actor .sheet-tabs > a {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: var(--tab-size);
  height: var(--tab-size);
  padding: 0;
  background: var(--tab-background);
  border: 2px solid var(--tab-background);
  border-left: none;
  border-radius: 0 var(--border-radius-half) var(--border-radius-half) 0;
  box-shadow: 0 0 4px 0px var(--color-drop-shadow);
  transition: border-color 0.25s;
}
.cog.sheet.actor .sheet-tabs > a.active {
  border-color: var(--color-primary);
}
.cog.sheet.actor .sheet-tabs > a .tab-icon {
  background-color: var(--color-tertiary-50);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: auto var(--icon-size);
  transition: background-color 0.5s;
}
.cog.sheet.actor .sheet-tabs > a:hover .tab-icon {
  background-color: var(--color-primary);
}
.cog.sheet.actor .sheet-tabs > a.active .tab-icon {
  background-color: var(--color-primary);
}
.cog.sheet.actor .sheet-body {
  flex: 1;
  gap: var(--spacing-100);
}
.cog.sheet.actor .sheet-sidebar {
  position: relative;
  flex: 0 0 var(--sidebar-width);
  gap: 55px;
}
.cog.sheet.actor .sheet-sidebar .health {
  --health-width: 195px;
  --heath-height: 30px;
  --heath-top-position: 202px;
  --heath-left-position: 2px;
  position: absolute;
  background-color: var(--color-frame-bg);
  width: var(--health-width);
  height: var(--heath-height);
  top: var(--heath-top-position);
  left: var(--heath-left-position);
  border-radius: var(--border-radius-half);
  align-items: stretch;
}
.cog.sheet.actor .sheet-sidebar .health input {
  --input-background-color: transparent;
  --input-height: auto;
  font-size: var(--font-size-18);
  border: 0;
  outline-width: 0;
}
.cog.sheet.actor .sheet-sidebar .health input:focus {
  box-shadow: none;
}
.cog.sheet.actor .sheet-sidebar .health::before {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: var(--foreground-image);
}
.pc.cog.sheet.actor .sheet-sidebar .health::before {
  width: 228px;
  height: 104px;
  top: -55px;
  left: -16px;
}
.npc.cog.sheet.actor .sheet-sidebar .health::before {
  width: 227px;
  height: 68px;
  top: -19px;
  left: -15px;
}
.cog.sheet.actor .sheet-sidebar .health .hit-die {
  --hit-die-size: 32px;
  --hit-die-position-top: -38px;
  --hit-die-position-left: 3px;
  position: absolute;
  width: var(--hit-die-size);
  height: var(--hit-die-size);
  top: var(--hit-die-position-top);
  left: var(--hit-die-position-left);
  z-index: 2;
  align-items: stretch;
  justify-content: center;
}
.cog.sheet.actor .sheet-sidebar .health .hit-die .icon-button {
  font-size: var(--font-size-24);
}
.cog.sheet.actor .sheet-sidebar .health .hit-die .dice-icon {
  cursor: pointer;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--hit-die-size);
  background-color: var(--color-text);
}
.cog.sheet.actor .sheet-sidebar .health .hit-die .dice-icon:hover {
  background-color: var(--color-primary);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points {
  --hitPoints-pct: 100%;
  --tempDmgs-pct: 100%;
  --border-width: 3px;
  position: relative;
  cursor: pointer;
}
.cog.sheet.actor .sheet-sidebar .health .hit-points::before,
.cog.sheet.actor .sheet-sidebar .health .hit-points::after {
  content: "";
  position: absolute;
  block-size: 100%;
  border-radius: var(--border-radius-half) 0 0 var(--border-radius-half);
  border-inline-end-style: solid;
  border-inline-end-width: calc(var(--border-width) + 1px);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points::before {
  inline-size: calc(var(--hitPoints-pct) - var(--border-width));
  background: linear-gradient(to right, var(--color-hitPoints-bar-start) 0%, var(--color-hitPoints-bar-end) 100%);
  border-inline-end-color: var(--color-hitPoints-bar-border);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points::after {
  inline-size: calc(var(--tempDmgs-pct) - var(--border-width));
  background: linear-gradient(to right, var(--color-tempDmgs-bar-start) 0%, var(--color-tempDmgs-bar-end) 100%);
  border-inline-end-color: var(--color-tempDmgs-bar-border);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points .label {
  z-index: 1;
  justify-content: flex-start;
  padding-left: var(--spacing-50);
  gap: var(--spacing-25);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points .label .value,
.cog.sheet.actor .sheet-sidebar .health .hit-points .label .separator,
.cog.sheet.actor .sheet-sidebar .health .hit-points .label .max {
  font-family: var(--font-h3);
  font-size: var(--font-size-18);
}
.cog.sheet.actor .sheet-sidebar .health .hit-points .field {
  z-index: 1;
  text-align: center;
}
.cog.sheet.actor .sheet-sidebar .health .hit-points .icon-button {
  --icon-button-position-top: -23px;
  --icon-button--position-right: -49px;
  position: absolute;
  top: var(--icon-button-position-top);
  right: var(--icon-button--position-right);
}
.cog.sheet.actor .sheet-sidebar .health .tmp-dmgs {
  --border-width: 3px;
  position: relative;
  flex-basis: 50px;
  border-top-right-radius: var(--border-radius-half);
  border-bottom-right-radius: var(--border-radius-half);
}
.cog.sheet.actor .sheet-sidebar .health .tmp-dmgs::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--border-width);
  background: linear-gradient(to bottom, var(--color-hitPoints-bar-border) 5px, transparent 5px);
  background-size: 100% 10px;
  background-position: 0 2.5px;
}
.cog.sheet.actor .sheet-sidebar .health .tmp-dmgs input {
  --input-text-color: var(--color-secondary);
  text-align: center;
  padding: 0 0 0 calc(var(--border-width) / 2);
}
.cog.sheet.actor .sheet-header {
  gap: var(--spacing-50);
}
.cog.sheet.actor .sheet-header header {
  height: var(--spacing-200);
  gap: var(--spacing-50);
}
.cog.sheet.actor .sheet-header header .actor-name {
  padding-top: var(--spacing-25);
  font-family: var(--font-h1);
  color: var(--color-primary);
  font-size: var(--font-size-20);
}
.cog.sheet.actor .sheet-header header .incomplete {
  --incomplete-size: var(--spacing-175);
  height: var(--incomplete-size);
  padding: 0 var(--spacing-50);
  font-size: var(--font-size-16);
  border-radius: var(--border-radius);
  border-color: var(--color-primary);
  transition: box-shadow 0.5s;
}
.cog.sheet.actor .sheet-header header .incomplete:hover {
  box-shadow: 0 0 10px var(--color-primary);
  transition: box-shadow 0.5s;
}
.cog.sheet.actor .sheet-header header .incomplete i {
  color: var(--color-primary);
}
.cog.sheet.actor .sheet-header header .size,
.cog.sheet.actor .sheet-header header .level {
  gap: var(--spacing-50);
  flex-wrap: nowrap;
  align-items: baseline;
  font-family: var(--font-h1);
  color: var(--color-primary);
  padding-top: var(--spacing-25);
  font-size: var(--font-size-14);
}
.cog.sheet.actor .sheet-header header .size .label,
.cog.sheet.actor .sheet-header header .level .label,
.cog.sheet.actor .sheet-header header .size .value,
.cog.sheet.actor .sheet-header header .level .value {
  white-space: nowrap;
}
.cog.sheet.actor .sheet-header header .size {
  flex-basis: auto;
}
.cog.sheet.actor .sheet-header header .level input {
  --input-width: var(--spacing-350);
  min-width: var(--input-width);
  text-align: center;
}
.cog.sheet.actor .sheet-header header input,
.cog.sheet.actor .sheet-header header select {
  --input-height: var(--spacing-200);
  margin-top: calc(-1 * var(--spacing-25));
}
.cog.sheet.actor .sheet-header .subtitle {
  gap: var(--spacing-50);
}
.cog.sheet.actor .tab.attributes {
  gap: var(--spacing-150);
}
.cog.sheet.actor .tab.attributes .derived {
  gap: var(--spacing-100);
  align-items: stretch;
}
.cog.sheet.actor .tab.attributes .derived .main,
.cog.sheet.actor .tab.attributes .derived .secondary {
  gap: var(--spacing-150);
}
.cog.sheet.actor .tab.attributes .derived .main {
  flex-basis: 335px;
  flex-grow: 0;
}
.cog.sheet.actor .tab.attributes .derived .main .row {
  gap: var(--spacing-50);
  align-items: stretch;
}
.cog.sheet.actor .tab.attributes .derived .main .row :first-child.resources {
  flex-basis: 229px;
  flex-grow: 0;
}
.cog.sheet.actor .tab.attributes .derived .main .row :first-child.initiative {
  flex-basis: 82px;
  flex-grow: 0;
}
.cog.sheet.actor .tab.attributes .abilities,
.cog.sheet.actor .tab.attributes .attacks,
.cog.sheet.actor .tab.attributes .resources,
.cog.sheet.actor .tab.attributes .wounds,
.cog.sheet.actor .tab.attributes .defenses.basic {
  justify-content: space-between;
}
.cog.sheet.actor .tab.attributes .resources,
.cog.sheet.actor .tab.attributes .wounds,
.cog.sheet.actor .tab.attributes .defenses.basic {
  padding-top: var(--spacing-125);
  padding-bottom: var(--spacing-100);
}
.cog.sheet.actor .tab.attributes .initiative {
  justify-content: center;
  padding: var(--spacing-125) 0 var(--spacing-100) 0;
}
.cog.sheet.actor .tab.attributes .wounds {
  align-items: flex-end;
  justify-content: space-around;
}
.cog.sheet.actor .tab.attributes .defenses.detailed {
  padding-bottom: var(--spacing-50);
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.cog.sheet.actor .tab.attributes .item {
  align-items: center;
}
.cog.sheet.actor .tab.attributes .attacks .data.value {
  padding-top: var(--spacing-100);
}
.cog.sheet.actor .tab.attributes .wounds .pips {
  margin-bottom: var(--spacing-100);
}
.cog.sheet.actor .tab.attributes .defenses.detailed .item {
  width: 100%;
  gap: var(--spacing-25);
}
/* ----------------------------------------- */
/*  Config Sheet
/* ----------------------------------------- */
.cog.sheet.config {
  /* ----------------------------------------- */
  /*  Sheet Body
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet header
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Content
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General styles
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Hit Die
  /* ----------------------------------------- */
}
.cog.sheet.config .window-header button[data-action="copyUuid"] {
  display: none;
}
.cog.sheet.config .window-content {
  padding: 0 var(--spacing-100) var(--spacing-100);
}
.cog.sheet.config .sheet-body {
  gap: var(--spacing-75);
  height: 100%;
}
.cog.sheet.config .sheet-header {
  position: relative;
}
.cog.sheet.config .sheet-header .description {
  color: var(--color-text-75);
}
.cog.sheet.config:has(.sheet-content.scrolling) .sheet-header::after {
  --scrolled-shadow-height: var(--spacing-100);
  position: absolute;
  content: "";
  bottom: calc(-1 * (var(--scrolled-shadow-height) + var(--spacing-75)));
  width: 100%;
  min-height: var(--scrolled-shadow-height);
  background: radial-gradient(farthest-side at 50% 0, var(--color-drop-shadow), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  background-size: 100% var(--scrolled-shadow-height);
}
.cog.sheet.config .sheet-content {
  gap: var(--spacing-100);
  padding-top: var(--spacing-25);
}
.cog.sheet.config .incomplete {
  color: var(--color-primary);
}
.cog.sheet.config .icon-button {
  font-size: var(--font-size-18);
}
.cog.sheet.config.hit-die .sheet-content {
  max-height: 300px;
}
/* ----------------------------------------- */
/*  Item Sheet
/* ----------------------------------------- */
.cog.sheet.item {
  /* ----------------------------------------- */
  /*  Sheet Header
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Tabs
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body
  /* ----------------------------------------- */
}
.cog.sheet.item .sheet-header {
  --sheet-header-height: 80px;
  box-sizing: content-box;
  padding: var(--spacing-25) var(--spacing-100) var(--spacing-100) var(--spacing-100);
  height: var(--sheet-header-height);
  align-items: flex-start;
  gap: var(--spacing-50);
}
.cog.sheet.item .sheet-header img.profile {
  flex: 0 0 var(--sheet-header-height);
  width: var(--sheet-header-height);
  height: var(--sheet-header-height);
}
.cog.sheet.item .sheet-header .name {
  gap: var(--spacing-50);
}
.cog.sheet.item .sheet-header .name .field input {
  --input-height: var(--spacing-300);
  font-size: var(--font-size-18);
}
.cog.sheet.item .sheet-header .name .tags {
  justify-content: flex-end;
  padding-right: var(--spacing-75);
}
.cog.sheet.item .sheet-tabs {
  margin: 0;
  border-color: var(--color-secondary-75);
}
.cog.sheet.item .sheet-tabs > a {
  font-family: var(--font-h3);
  font-size: var(--font-size-14);
  color: var(--color-secondary);
  padding: var(--spacing-50) 0;
  transition: color 0.5s;
}
.cog.sheet.item .sheet-tabs > a:hover {
  color: var(--color-text);
}
.cog.sheet.item .sheet-tabs > a.active {
  color: var(--color-text);
}
.cog.sheet.item .sheet-body {
  padding: var(--spacing-100);
}
.cog.sheet.item .sheet-body:has(> .sheet-tabs) {
  gap: 0;
  padding: 0;
}
.cog.sheet.item .sheet-body:has(> .sheet-tabs) .sheet-tabs {
  border-top: 0;
}
.cog.sheet.item .sheet-body > .tab {
  padding: var(--spacing-100);
}
